* {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
  gap: 351px;
  height: 54px;
  align-items: center;
  font-size: 13px;
  position: sticky;
}
.nav-first {
  display: flex;
  gap: 19px;
}
.nav-first > img {
  width: 108px;
}
.btn-type-1 {
  text-decoration: none;
  color: black;
}
.btn-type-1:hover{
  text-decoration: underline;
}

.nav-second {
  display: flex;
  gap: 19px;
}
.nav-second > div {
  display: flex;
}
.body-div {
  display: grid;
  grid-template-columns: 1543px;
  justify-content: center;
  gap: 41px;
}
.body-div-1 {
  background-image: url("./images/first.jpeg");
  width: auto;
  height: 586px;
}
.body-div-1 > div {
  height: 586px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.innerdiv-1 {
  width: 42%;
  padding-left: 98px;
}
.innerdiv-1 div {
  margin-top: 25px;
}

.black-button {
  text-decoration: none;
  color: white;
  background-color: black;
  border-radius: 4px;
  padding: 13px;
  width: 135px;
  cursor: pointer;
}
.blue-button {
  text-decoration: none;
  color: white;
  background-color: #0067b8;;
  border-radius: 4px;
  padding: 13px;
  width: 135px;
  cursor: pointer;
}
.button-one {
  padding-left: 46px;
  color: #0067b8;
  cursor: pointer;
}
.button-one:hover{
  text-decoration: underline;
}

.body-div-2 {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.body-div-2 > div {
  width: 167px;
  min-height: auto;
}

.body-div-3 > div > * {
  margin-top: 19px;
  padding-left: 10px;
}
.body-div-3 {
  display: flex;
  justify-content: center;
}

.btn-type-2 {
  text-decoration: none;
  color: #0067b8;
}
.body-div-4 {
  background-image: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4RBHW?ver=a523&q=0&m=8&h=600&w=1600&b=%23FFFFFFFF&l=f&x=0&y=0&s=1898&d=712&aim=true");
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.body-div-4 {
  flex: 40%;
}
.white-btn {
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 4px;
  padding: 13px;
}
.btn-whit-text {
  padding-left: 46px;
  color: white;
  text-decoration: none;
}
.white-text {
  color: white;
  text-decoration: none;
}
.body-div-5 {
  display: flex;
  justify-content: center;
}
.body-div-5 > div {
  width: 381px;
}
.body-div-5 > div > img {
  width: 346px;
}
.body-div-5 > div > * {
  padding-top: 20px;
}
.body-div-6 {
  background-image: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE50fj8?ver=6846&q=0&m=8&h=600&w=1600&b=%23FFFFFFFF&l=f&x=0&y=0&s=1898&d=712&aim=true");
  display: flex;
  height: 576px;
}
.body-div-6 > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 632px;
  gap: 26px;
  padding-left: 74px;
}
.body-div-7 {
  display: flex;
  gap: 27px;
  margin-bottom: 20px;
}
.body-div-7 span {
  color: rgba(0, 0, 0, 0.6);
}
.footer {
  display: flex;
  justify-content: space-evenly;
  padding: 62px;
  background-color: #f2f2f2;
}
small {
  color: #616161;
}
.footer > div {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.footer small:hover{
  text-decoration: underline;
  color: black;
}

.bottom {
  display: flex;
}
.bottom > div {
  flex: 50%;
  padding-left: 133px;
  background-color: #f2f2f2;
}